<div class="container">
    <div class="title">
        Create a new account
    </div>
    <form>
        <div class="user-details">
            <div class="input-box">
                <span class="details">
                    First name
                </span>
                <input type="text" placeholder="Enter your name" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Last name
                </span>
                <input type="text" placeholder="Enter your last name" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Email
                </span>
                <input type="email" placeholder="Enter your email" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Phone number
                </span>
                <input type="text" placeholder="Enter your phone number" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Birthdate
                </span>
                <input type="date" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Employment date
                </span>
                <input type="date" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Your Photo
                </span>
                <input type="file" accept="image/*">
            </div>
            <div class="input-box">
                <span class="details">
                    Job
                </span>
                <select name="jobs" required>
                    <option value="Manager"> Manager </option>
                    <option value="Developer"> Developer </option>
                    <option value="Tester"> Tester </option>
                </select>
            </div>
            <div class="input-box">
                <span class="details">
                    Password
                </span>
                <input type="password" placeholder="Enter your password" required>
            </div>
            <div class="input-box">
                <span class="details">
                    Confirm password
                </span>
                <input type="password" placeholder="Confirm your password" required>
            </div>
            <div class="input-box-2">
                <span class="details">
                    Bio
                </span>
                <input type="text" placeholder="Enter your bio">
            </div>
        </div>
        <div class="button">
            <input type="submit" value="Register">
        </div>
    </form>
</div>

